<h2>Followers</h2>
<div *ngFor="let follower of followers$ | async">
  
  <div class="profile">
    <img [src]="follower.img" width="50px">
    {{ follower.username }} tem <strong>{{ followerCount$ | async }}</strong> seguidores
    
    <ng-container *ngIf="isFollowing$ | async; then unfollowButton else followButton">
      button renders here
    </ng-container>

  </div>
</div>

    <ng-template #followButton>
      <button class="button is-info" (click)="toggleFollow()">Seguir</button>
    </ng-template>
    
    <ng-template #unfollowButton>
      <button class="button is-warning" (click)="toggleFollow()">Parar de Seguir</button>
    </ng-template>
  