<p>profile works!</p>
<div>
  Voce esta logado como <strong>{{ currentUser.username }}</strong>
<hr>
<div *ngFor="let follower of followers | async">
  <app-user-profile [user]="follower" [currentUser]="currentUser"></app-user-profile>
</div>

<div class="profile">
  <img [src]="user.img" width="50px">
  {{ user.username }} has <strong>{{ followerCount$ | async }}</strong> followers
  <ng-container *ngIf="isFollowing$ | async; else followButton">
    <button class="button is-warning" (click)="toggleFollow()">Unfollow</button>
  </ng-container>
  <ng-template #followButton>
    <button class="button is-info" (click)="toggleFollow()">Follow</button>
  </ng-template>
</div>
</div>